<div class="user-block clearfix">
  <a class="avatar link">
    {{#if user.photo}}
    <img {{bind-attr src=user.photo}}/>
    {{else}}
    <img src="images/avatar-red.png"/>
    {{/if}}
  </a>
  <div class="name">
    {{#link-to 'profile.posts' user classNames='link' action='closeModal'}}{{user.name}}{{/link-to}}
  </div>
  {{#if user.followedByCurrentUser}}
  <button {{action "unfollow"}} class="blue-btn follow relative-center-y">
    Unfollow
  </button>
  {{else}}
  <button {{action "follow"}} class="blue-btn follow relative-center-y">
    Follow
  </button>
  {{/if}}
</div>
